@model Guest_book.Models.Guest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guest_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guest_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guest_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guest_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guest_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guest_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Messages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Messages)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
